<div class="users">
	<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
		<h2>Editing User...</h2>
		
		<input value="<%= user.firstname %>" name="firstname" type="text" class="form-control" /><br/>
		<input value="<%= user.lastname %>" name="lastname" type="text" class="form-control" /><br/>
		<input value="<%= user.email %>" name="email" type="text" class="form-control" /><br/>
		
		<!-- Displays the Upload Profile Image Button only if the current user is authenticated and they are uploading an image to their own profile -->
		<% if(session.authenticated && session.User.id == user.id) { %>
			<a href="/upload-file" id="uploadProfileImg" name="uploadProfileImg" class="btn btn-sm btn-info" />Upload Profile Image</a>
		<% } %>
		
		<!-- Displays the Admin Checkbox only if the logged in user is an Admin user -->
		<% if(session.authenticated && session.User.admin) { %>
			<% if(user.admin) { %>
				<div class="checkbox">
					<input type="hidden" name="admin" value="unchecked" />
					<label class="checkbox"><input type="checkbox" name="admin" checked> Administrator</label>
				</div>
			<% }else{ %>
				<div class="checkbox">
					<input type="hidden" name="admin" value="unchecked" />
				  	<label><input type="checkbox" name="admin"> Administrator</label>
				</div>
			<% } %>
		<% } %>	
		
		<input type="submit" value="Proceed" class="btn btn-lg btn-primary btn-block" />
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>